* {
    font-size: 100%;
    padding: 2px;
    margin: 8px;
    font-weight: 400;
    }
main#gradientBG {
    background-image: url("./gradient_bg.png");
    background-repeat: repeat-x;
    margin: 20px;
    }
body {
    background-color: white;
}
h1 { 
    font-family: "montserrat", sans-serif;
    color: #8b85c1;
    font-size: 300%;
    width: 1200px;
    padding: 5px;
    margin: 5px;
    font-weight: 700;
}
h2 {
    font-family: "montserrat", sans-serif;
    color: #665c84;
    font-size: 160%;
    font-weight: 550
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
}
p {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin: 5px;
}
p.grey {
    font-family: 'Roboto', sans-serif;
    color: grey;
    padding: 5px;
    margin: 5px;
}
body {            
    padding: 25px;
    margin: 10px;
    border: 15px solid lightgrey;
}
ul {
    font-family: 'Roboto', sans-serif;
    margin: 18px;
}
ol {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

