* {font-family: "montserrat", sans-serif}
a:hover {color: grey;}
.row {display: flex;}
.col {float: left; width: 33.33%; padding: 5px;}
.selfie {width: auto; height: 349px; padding-left: 122px;}
.column {width: 50%; padding: 5px;}
.logo {
    width: 200px; height: 200px; float: left; padding-left: 3em;}
.logos {padding-left: 2em;}
#heading {padding-bottom: 9.8em}
.page-menu {
    float: right;
    font-size: 25px;
    padding-right: 20px;
}
#link-btn {
    font-size:4em; 
    float: right; 
    padding-right: 20px; 
    padding-top: 30px; 
    color: indigo;
}
#mail-btn {
    font-size:4em; 
    float: right; 
    padding-right: 25px; 
    padding-top: 30px; 
    color: indigo
}
a.me {
    border: 3px solid lightgrey;
    border-radius: 9px;
    padding: 6px;
}
a.graphics {
    border: 3px solid lightgrey;
    border-radius: 9px;
    padding: 6px;
}
a.ad {
    border: 3px solid lightgrey;
    border-radius: 9px;
    padding: 6px;
}
h1 {
    text-align: center;
    font-size: 4em;
    border: 20px solid #e8bdff;
    background-color: #e8bdff;
}
h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 450;
    border: 8px solid #e8bdff;
    margin: 10px;
} 
p {
    text-align: center;
    font-size: 18px;
}
.intro-content {
    font-size: 25px;
    font-weight: 300;
}
#articles {
    float: right;
    padding-left: 6px;
    margin-left: 1em;
    border: 2px solid lightgrey;
    margin-bottom: 1em;
    border-radius: 8px;
}
#resume {
    padding-right: 6px;
    margin-right: 1em;
    border: 2px solid lightgrey;
    margin-bottom: 1em;
    border-radius: 8px;
}
.reeves {width: 100px; height: auto;}
.ellen {width: 100px; height: auto;}
.kaepernick {width: 100px; height: auto;}
.broadway {width: 100px; height: auto;}
.summer {width: 100px; height: auto;}
.billie {width: 100px; height: auto;}
.sza {width: 100px; height: auto;}
.smith {width: 100px; height: auto;}
footer {
    text-align: center;
    font-size: 20px;
    background-color: #e8bdff;
    border: 8px solid #e8bdff;
}
#proj-1 {
    padding-right: 6px;
    border: 2px solid lightgrey;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
}
#proj-2 {
    padding-left: 6px;
    border: 2px solid lightgrey;
    margin-bottom: 1em;
    border-radius: 8px;
}
.campaign {
    width: auto; height: 767px;
    padding-left: 6.5em;
    padding-top: 2em;
}
.res-proj {
    width: auto; height: 800px;
    padding-left: 3em;
}
#proj-3 {
    padding-right: 6px;
    border: 2px solid lightgrey;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
}
#proj-4 {
    padding-left: 6px;
    border: 2px solid lightgrey;
    margin-bottom: 1em;
    border-radius: 8px;
}
.front-card {height: 150px; width: auto; padding-left: 5em;}
.back-card { height: 150px; width: auto;}
.front-envelope {height: 200px; width: auto; padding-left: 7em;}
.back-envelope {height: 200px; width: auto; padding-left: 7em;}
.thank-you-card {height: 375px; width: auto; padding-left: 12em;}
.cover {padding-bottom: 10px;}
.mag-page-3 {padding-top: 10px;}
h3 {text-align: center; font-size: 25px;}
#school-work {
    padding-right: 6px;
    border: 2px solid lightgrey;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
}
#agency {
    padding-left: 6px;
    border: 2px solid lightgrey;
    margin-bottom: 1em;
    border-radius: 8px;
}
.echelon {
    width: 650px; height: auto;
    padding-left: 1em;
}
.billboard {
    width: 650px; height: auto;
    padding-left: 1em;
}
.tnh-logo {
    padding-top: 5em;
    padding-left: 15em;
    padding-bottom: 6.88em;
}
.gwp-article {
    padding-left: 16em;
}
.gwparticle {
    font-size: 20px;
    padding-top: 8px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
    #heading {width: 100%; padding-bottom: 6em;}
    .logo {height: 5.5em; width: auto; margin-top: 8px;}
    #link-btn {font-size: 2em; padding-right: 16px;}
    #mail-btn {font-size: 2em; padding-right: 16px;}
    a.me {
        border: 3px solid lightgrey;
        border-radius: 9px;
        padding: 3px;
        font-size: 10px;
    }
    a.graphics {
        border: 3px solid lightgrey;
        border-radius: 9px;
        padding: 3px;
        font-size: 10px;
    }
    a.ad {
        border: 3px solid lightgrey;
        border-radius: 9px;
        padding: 3px;
        font-size: 10px;
    }
    h1 {
        font-size: 2em;
        margin-top: 1.25em;
    }
    .intro-content {
        font-size: 15px;
    }
    .selfie {width: auto; height: 84px; padding-left: 30px;}
    #resume {
        padding-right: 3px;
        margin-right: .25em;
        margin-bottom: .25em;
    }
    h2 {font-size: 20px; 
        border: 4px solid #e8bdff;
        margin: 6px;
    }
    p {font-size: 10px;}
    #articles {
        float: right;
        padding-left: 3px;
        margin-left: .25em;
        margin-bottom: .25em;   
    }
    .reeves {width: 50px; height: auto;}
    .ellen {width: 50px; height: auto;}
    .kaepernick {width: 50px; height: auto;}
    .broadway {width: 50px; height: auto;}
    .summer {width: 50px; height: auto;}
    .billie {width: 50px; height: auto;}
    .sza {width: 50px; height: auto;}
    .smith {width: 50px; height: auto;}
    footer {font-size: 12px;}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #heading {width: 100%; padding-bottom: 8em;}
    .logo {height: 9em; width: auto; margin-top: 8px;}
    #link-btn {font-size: 3em; padding-right: 16px;}
    #mail-btn {font-size: 3em; padding-right: 16px;}
    a.me {
        border: 4.5px solid lightgrey;
        border-radius: 9px;
        padding: 3px;
        font-size: 18px;
    }
    a.graphics {
        border: 4.5px solid lightgrey;
        border-radius: 9px;
        padding: 3px;
        font-size: 18px;
    }
    a.ad {
        border: 4.5px solid lightgrey;
        border-radius: 9px;
        padding: 3px;
        font-size: 18px;
    }
    h1 {
        font-size: 3em;
        margin-top: 45px;
    }
    .intro-content {
        font-size: 25px;
    }
    .selfie {width: auto; height: 182px; padding-left: 60px;}
    #resume {
        padding-right: 5px;
        margin-right: .5em;
        margin-bottom: .5em;
    }
    h2 {font-size: 30px; 
        border: 7px solid #e8bdff;
        margin: 9px;
    }
    p {font-size: 19px;}
    #articles {
        float: right;
        padding-left: 3px;
        margin-left: .5em;
        margin-bottom: .5em;   
    }
    .reeves {width: 75px; height: auto;}
    .ellen {width: 75px; height: auto;}
    .kaepernick {width: 75px; height: auto;}
    .broadway {width: 75px; height: auto;}
    .summer {width: 75px; height: auto;}
    .billie {width: 75px; height: auto;}
    .sza {width: 75px; height: auto;}
    .smith {width: 75px; height: auto;}
    footer {font-size: 18px;}
}